<h1 mat-dialog-title>Add new post</h1>
<div mat-dialog-content>
  <form [formGroup]="postForm">
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput formControlName="id" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image (url)</mat-label>
      <input matInput formControlName="image" required />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="postForm"
    [disabled]="postForm.invalid"
  >
    Add post
  </button>
</div>
